@model AutoPharma.Auth.Model.ApplicationUser

@{
    Layout = "_Layout";
    @if (@Model != null)
    {
        ViewData["Bool"] = true;
        ViewData["Title"] = @Model.BranchId;
    }
}


<!DOCTYPE html>
<html>
<head>

<title>AUTO-PHARMA</title>
</head>
<body>

<div class="text-center">
    <h1 class="display-4" style="color:orange" >AUTO-PHARMA</h1>

<img src="~/css/solutions_pharmacy.jpg"  width="500" height="600">


    <p style="color:orange">AUTO-PHARMA An online pharmacy for all your needs.</p>
</div>

</body>
</html>